* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #add8e6; /* Azul claro */
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 20px;
  font-size: 1rem;
  margin: 5px;
  cursor: pointer;
}
