* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #add8e6; /* Azul claro */
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  margin: 5px;
  cursor: pointer;
}

#voltar {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 10px 15px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

#voltar:hover {
  background-color: #333;
}
